# Database Config
HOST=localhost
PORT=5001
DATABASE=SewaRuangan
USERNAME=yourUsername
PASSWORD=yourPassword123

# JWT Auth
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d
ISSUER=SewaRuanganAPI
AUDIENCE=SewaRuanganClient